body{
    margin: 0;
    margin-top: 100px;
    font-family: 'Nunito', sans-serif;
}


.first-half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.first-half img{
    margin-top: 2%;
    width: 80%;
}

section{
    height: 500px;
}
.name-web{
    color: orangered;
}
h1{
    font-size: 40px;
}
.link{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
}
.about{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}


#first-half-1{
    margin-top: 100px;
}

#first-half-2{
    margin-top: 100px;
}

.h1-tag{
    color: darkblue;
}
.latest-works{
    background-color: rgb(241, 241, 241);
    margin-top: 100px;
    padding: 5% 8% 5%;
    align-items: center;
    height: 660px;
}
#latest{
    text-align: center;
}
.latest-projects{
    width: 28%;
    float: left;
    margin-left: 2%;
    padding: 15px;
    background: white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px grey;
}
.latest-projects img{
    width: 100%;
}
h4{
    color: rgb(6, 6, 46);
    font-weight: bold;
    font-size: 25px;
}

.work-inq{
    margin-top: 100px;
    margin-left: 25%;
    background-image: url("shapes/Group_33094_1.png");
    background-repeat: no-repeat;
    background-size: 70%;
    display: flex;
}

.work-inq h1{
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding-left: 100px;
    margin-top: 20%;
    
}
.lets-chat{
    margin-top: 100px;
    margin-left: 20%;
    padding-right: 100px;
}

